.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.msg-box
{
    margin-top:50px;
    padding: 25px;
    border-radius: 15px;

}

.box-success
{
    border: 1px #3ec245 solid;
}
.msg-box.box-success h2
{
    color: #3ec245;
}

.box-error
{
    border: 1px #e81717 solid;
}

.msg-box.box-error h2
{
    color: #e81717;
}

.fas
{
    margin-right: 5px;
}